name: Issue Labeler

on:
  issues:
    types: [opened, edited]

permissions:
  issues: write

jobs:
  label_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Label issues
        uses: github/issue-labeler@3431626a3aa0d4dd8cb7e3e8a03c95e45aa89d21
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/issue-labeler-config.yml
          enable-versioned-regex: false    # or true, depending on your needs
