name: Labeler

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    uses: dallay/common-actions/.github/workflows/pr-labeler.yml@main
    with:
      configuration-path: .github/labeler.yaml
    secrets: inherit
