name: Link Checker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: |
            cache-lychee-
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress --cache --max-cache-age 1d --exclude-path node_modules --exclude-path public/admin --exclude 'http://localhost' --exclude 'https://localhost' ./**/*.md
