name: Link Checker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress --exclude-path node_modules --exclude-path public/admin --exclude 'http://localhost' --exclude 'https://localhost' ./**/*.md
